<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="element-ui/css/index.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/index/index.css">
    <link rel="stylesheet" href="css/index/indexTopbar.css">
    <link rel="stylesheet" href="css/index/indexSubview.css">
    <link rel="stylesheet" href="css/index/indexMainview.css">
    <link rel="stylesheet" href="css/index/indexLogview.css">
</head>

<body>
    <div id="app">
        <el-container class="home-container">
            <el-header class="main-top">
                <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" background-color="#eaeaeb"
                    text-color="#4F4F50" active-text-color="#535457" menu-trigger="click">
                    <el-submenu index="1">
                        <template slot="title">File</template>
                        <el-menu-item index="1-1">New</el-menu-item>
                        <el-menu-item index="1-2">Open</el-menu-item>
                        <el-menu-item index="1-3">Save</el-menu-item>
                        <el-menu-item index="1-4">Save As</el-menu-item>
                        <el-menu-item index="1-5">Recent Projects</el-menu-item>
                        <el-menu-item index="1-6">Quit</el-menu-item>
                    </el-submenu>
                    <el-submenu index="2">
                        <template slot="title">View</template>
                        <el-menu-item index="2-1">Project</el-menu-item>
                        <el-menu-item index="2-2">Address Space</el-menu-item>
                        <el-menu-item index="2-3">Log</el-menu-item>
                        <el-menu-item index="2-4">Attributes</el-menu-item>
                        <el-menu-item index="2-5">References</el-menu-item>
                        <el-menu-item index="2-6">File Toolbar</el-menu-item>
                        <el-menu-item index="2-7">Server Toolbar</el-menu-item>
                        <el-menu-item index="2-8">Document Toolbar</el-menu-item>
                    </el-submenu>
                    <el-submenu index="3">
                        <template slot="title">Server</template>
                        <el-menu-item index="3-1">Add</el-menu-item>
                        <el-menu-item index="3-2">Remove</el-menu-item>
                        <el-menu-item index="3-3">Connect</el-menu-item>
                        <el-menu-item index="3-4">Disconnect</el-menu-item>
                        <el-menu-item index="3-5">PRoperties</el-menu-item>
                        <el-menu-item index="3-6">Change user</el-menu-item>
                    </el-submenu>
                </el-menu>
                <el-input class="searchBox" v-model="search" @keyup.enter.native="searchHandler" placeholder="输入内容">
                </el-input>
                <div class="operationBox">
                    <i class="el-icon-minus minimize-btn" @click="handlerMin"></i>
                    <i class="el-icon-copy-document max-unmax-btn" @click="handlerMax"></i>
                    <i class="el-icon-close close-btn" @click="handlerClose"></i>
                </div>
            </el-header>
            <el-container class="main-box">
                <el-aside class="subview subviewLeft" v-show="leftViewShow">
                    <el-tabs value="1" tab-position="left">
                        <el-tab-pane v-for="(item, index) in subviewLeftTabs" label="" :name="item.name">
                            <span slot="label">
                                <img class="icon" :src="item.iconSrc" />
                            </span>
                            <div class="grid-box">
                                <div v-for="itemlist in item.itemList"
                                    :class="itemlist.name==='1'?'subviewItem subviewItem-1':'subviewItem'">
                                    <div class="subviewItembtn">
                                        {{itemlist.title}}
                                    </div>
                                    <div class="subviewItemoptions"></div>
                                </div>
                            </div>
                        </el-tab-pane>
                    </el-tabs>
                </el-aside>
                <div class="dragBar-v resize-leftView" v-show="leftViewShow"></div>
                <el-container class="content-box">
                    <el-main class="mainviewTop">
                        <el-tabs v-model="mainTabsValue" type="border-card" closable>
                            <el-tab-pane v-for="(item, index) in mainTabs" :key="item.name" :label="item.title"
                                :name="item.name">
                                <!-- <iframe :src="item.src" :style="{'pointer-events':resize_pointer}"></iframe> -->
                                <!-- <iframe src="./components/mainView.html"></iframe> -->
                            </el-tab-pane>
                        </el-tabs>
                    </el-main>
                    <div class="dragBar-l resize-logView" v-show="logShow"></div>
                    <el-footer class="logview mianviewBottom" v-show="logShow">
                        <el-tabs>
                            <el-tab-pane label="日志">
                                <el-table class="logTable" :data="logTableData" :height="logtableHeight" stripe border
                                    style="width: 100%">
                                    <el-table-column prop="timestamp" label="Timestamp" width="150">
                                    </el-table-column>
                                    <el-table-column prop="source" label="Source" width="100">
                                    </el-table-column>
                                    <el-table-column prop="information" label="Information">
                                    </el-table-column>
                                </el-table>
                            </el-tab-pane>
                            <el-tab-pane label="问题">
                                <el-table class="logTable" :data="problemTableData" :height="logtableHeight" stripe
                                    border style="width: 100%">
                                    <el-table-column prop="timestamp" label="Timestamp" width="150">
                                    </el-table-column>
                                    <el-table-column prop="source" label="Source" width="100">
                                    </el-table-column>
                                    <el-table-column prop="information" label="Information">
                                    </el-table-column>
                                </el-table>
                            </el-tab-pane>
                            <el-tab-pane label="输出">
                                hhhhhhhh
                            </el-tab-pane>
                        </el-tabs>
                    </el-footer>
                </el-container>
                <div class="dragBar-v resize-rightView" v-show="rightViewShow"></div>
                <el-aside class="subview subviewRight" v-show="rightViewShow">
                    <el-tabs tab-position="right">
                        <el-tab-pane label="">
                            <span slot="label">
                                <i class="el-icon-folder"></i>
                            </span>
                        </el-tab-pane>
                        <el-tab-pane label="">
                            <span slot="label">
                                <i class="el-icon-set-up"></i>
                            </span>
                            <div class="grid-box grid-box-right">
                                <div class="grid-content right-top">
                                    address-view
                                </div>
                                <div class="dragBar-l resize-rightView-inside"></div>
                                <div class="grid-content right-bottom">
                                    project-view
                                </div>
                            </div>
                        </el-tab-pane>
                    </el-tabs>
                </el-aside>
            </el-container>
        </el-container>
    </div>
</body>
<script src="vue/vue.js"></script>
<script src="element-ui/index.js"></script>
<script src="js/indexInject.js"></script>
<script src="js/indexInside.js"></script>
<script src="js/indexExtern.js"></script>
<script>
    new Vue({
        el: '#app',
        data: function () {
            return {
                left_view_minwidth: null,
                main_view_minwidth: null,
                right_view_minwidth: null,
                logviewHeight: null,
                resize_pointer: 'auto',
                activeIndex: '1',
                search: "", //当前输入框的值
                leftViewShow: true,
                logShow: true,
                rightViewShow: true,
                mainTabsValue: '1',
                mainTabs: [],
                subviewLeftTabs: [],
                logTableData: [],
                problemTableData: [],
                attributeTableData: [],
            }
        },
        computed: {
            logtableHeight: function () {
                return this.logviewHeight - 20;
            }
        },
        methods: {
            searchHandler() {
                console.log('+++: searchHandler')
            },
            handlerMin() {
                mainMini()
            },
            handlerMax() {
                mainMax()
            },
            handlerClose() {
                mainClose()
            },
            handLeftViewShow() {
                this.leftViewShow = !this.leftViewShow
            },
            handLogShow() {
                this.logShow = !this.logShow
            },
            handRightViewShow() {
                this.rightViewShow = !this.rightViewShow
            },
            /**
             * el-table-column 自适应列宽
             * @param prop_label: 表名
             * @param table_data: 表格数据
             */
            flexColumnWidth(label, prop) {
                // 获取该列的所有数据
                const arr = this.tableData.map(x => x[prop])
                arr.push(label) // 把每列的表头也加进去算
                // 计算每列内容最大的宽度 + 表格的内间距（依据实际情况而定）
                return (getMaxLength(arr) + 20) + 'px'
            },
            dragLevel(box, top, bottom, resize) {
                var that = this;
                var box = document.getElementsByClassName(box);
                var top = document.getElementsByClassName(top);
                var bottom = document.getElementsByClassName(bottom);
                var resize = document.getElementsByClassName(resize);
                var bottomMinheight = parseInt(getComputedStyle(bottom[0], null)['min-height']);
                var topMinheight = parseInt(getComputedStyle(top[0], null)['min-height']);
                // console.log(resize)

                resize[0].onmousedown = function (e) {
                    const mask = document.createElement('div')
                    mask.style.cssText = 'position: absolute;top: 0;left: 0;width: 100vw;height: 100vh;z-index: 9999;'
                    mask.setAttribute('id', 'mousemoveMask')
                    document.body.append(mask)

                    var startY = e.clientY;
                    resize[0].top = resize[0].offsetTop;
                    document.onmousemove = function (e) {
                        var endY = e.clientY;
                        var topH = top[0].offsetHeight;
                        var maxT = box[0].clientHeight - resize[0].offsetHeight;
                        if (endY > maxT - bottomMinheight) {
                            endY = maxT - bottomMinheight
                        }
                        if (endY < topMinheight + 10) {
                            endY = topMinheight + 15
                        }
                        var moveLen = resize[0].top + (endY - startY);

                        // top[0].style.height = moveLen + 'px';
                        bottom[0].style.height = (box[0].clientHeight - moveLen - 5) + 'px';
                        that.logviewHeight = box[0].clientHeight - moveLen - 5;
                    }
                    document.onmouseup = function (evt) {
                        const mask = document.getElementById('mousemoveMask')
                        mask && mask.remove()

                        document.onmousemove = null;
                        document.onmouseup = null;
                        resize[0].releaseCapture && resize[0].releaseCapture();
                    }
                    resize[0].setCapture && resize[0].setCapture();
                    return false;
                }
            },
            dragVertical() {
                var that = this;
                var box = document.getElementsByClassName("main-box");
                var left = document.getElementsByClassName("subviewLeft");
                var mid = document.getElementsByClassName("content-box");
                var right = document.getElementsByClassName("subviewRight");
                var resize = document.getElementsByClassName("resize-leftView");
                var resize2 = document.getElementsByClassName("resize-rightView");

                resize[0].onmousedown = function (e) {
                    const mask = document.createElement('div')
                    mask.style.cssText = 'position: absolute;top: 0;left: 0;width: 100vw;height: 100vh;z-index: 9999;'
                    mask.setAttribute('id', 'mousemoveMask')
                    document.body.append(mask)

                    var startX = e.clientX;
                    resize[0].left = resize[0].offsetLeft;
                    document.onmousemove = function (e) {
                        var endX = e.clientX;
                        var rightW = right[0].offsetWidth;
                        var maxT = box[0].clientWidth - resize[0].offsetWidth - 5;
                        if (endX == that.left_view_minwidth || endX < that.left_view_minwidth)
                            endX = that.left_view_minwidth;
                        if (endX == maxT - rightW - that.main_view_minwidth || endX > maxT - rightW - that.main_view_minwidth)
                            endX = maxT - rightW - that.main_view_minwidth;
                        var moveLen = resize[0].left + (endX - startX);

                        left[0].style.width = moveLen + 'px';
                        mid[0].style.width = (box[0].clientWidth - moveLen - rightW - 10) + 'px';
                    }
                    document.onmouseup = function (evt) {
                        const mask = document.getElementById('mousemoveMask')
                        mask && mask.remove()

                        document.onmousemove = null;
                        document.onmouseup = null;
                        resize[0].releaseCapture && resize[0].releaseCapture();
                    }
                    resize[0].setCapture && resize[0].setCapture();
                    return false;
                }
                resize2[0].onmousedown = function (e) {
                    const mask = document.createElement('div')
                    mask.style.cssText = 'position: absolute;top: 0;left: 0;width: 100vw;height: 100vh;z-index: 9999;'
                    mask.setAttribute('id', 'mousemoveMask')
                    document.body.append(mask)

                    var startX = e.clientX;
                    resize2[0].left = resize2[0].offsetLeft;
                    document.onmousemove = function (e) {
                        var endX = e.clientX;
                        var leftW = left[0].offsetWidth;
                        var maxT = box[0].clientWidth - resize2[0].offsetWidth - 5;
                        if (endX > maxT - that.right_view_minwidth)
                            endX = maxT - that.right_view_minwidth
                        if (endX < leftW + that.main_view_minwidth)
                            endX = leftW + that.main_view_minwidth
                        var moveLen = resize2[0].left + (endX - startX) - leftW;

                        mid[0].style.width = moveLen + 'px';
                        right[0].style.width = (box[0].clientWidth - moveLen - leftW - 10) + 'px';
                    }
                    document.onmouseup = function (evt) {
                        const mask = document.getElementById('mousemoveMask')
                        mask && mask.remove()

                        document.onmousemove = null;
                        document.onmouseup = null;
                        resize2[0].releaseCapture && resize2[0].releaseCapture();
                    }
                    resize2[0].setCapture && resize2[0].setCapture();
                    return false;
                }
            }
        },
        mounted() {
            this.mainTabs = mainTabsF()
            this.subviewLeftTabs = subviewLeftTabsF()
            this.logTableData = logTableF()
            this.problemTableData = problemTableF()
            this.attributeTableData = attributeTableF()
            this.dragLevel('content-box', 'mainviewTop', 'mianviewBottom', 'resize-logView')
            // this.dragLevel('grid-box-left', 'left-top', 'left-bottom', 'resize-leftView-inside')
            // this.dragLevel('grid-box-right', 'right-top', 'right-bottom', 'resize-rightView-inside')
            this.dragVertical()
            // subviewItemInit(window, document);
        },
        created() {
            this.left_view_minwidth = parseInt(getComputedStyle(document.documentElement).getPropertyValue("--left-view-minwidth"));
            this.main_view_minwidth = parseInt(getComputedStyle(document.documentElement).getPropertyValue("--main-view-minwidth"));
            this.right_view_minwidth = parseInt(getComputedStyle(document.documentElement).getPropertyValue("--right-view-minwidth"));
            this.logviewHeight = parseInt(getComputedStyle(document.getElementsByClassName("logview")[0], null)['height'])
        }
    })
</script>

</html>