/* 自定义变量 */
:root {
    --top-bar-height: 30px;
    --left-view-width: 240px;
    --left-view-minwidth: 150px;
    --right-view-width: 240px;
    --right-view-minwidth: 150px;
    --log-view-height: 150px;
    --log-view-minheight: 90px;
    --sub-view-minheight: 50px;
    --left-bar-width: 50px;
    --right-bar-width: 26px;
}

/* 框架 */
* {
    margin: 0px;
    padding: 0px;
}
.home-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}
.main-top {
    width: 100%;
    min-width: 500px;
    height: var(--top-bar-height) !important;
    background-color: #eaeaeb;
    color: #333;
    padding: 0px;
    display: flex;
    text-align: center;
    justify-content: center;
    -webkit-app-region: drag;
}
.main-box {
    width: 100%;
    height: calc(100% - var(--top-bar-height));
    flex: 1;
    position: absolute;
    top: 30px;
    bottom: 0;
}
.sidebar {
    height: 100% !important;
    background-color: #fafafa;
    color: #333;
    writing-mode: vertical-rl;
}
.exhibition-box {
    height: 100% !important;
}
.subview {
    min-width: 150px;
    height: 100% !important;
    background-color: #eaeaeb;
    display: flex;
    flex-direction: column;
}
.dragBar-v {
    width: 5px;
    height: 100%;
    cursor: w-resize;
    float: left;
    background-color: #eaeaeb;
}
.dragBar-l {
    width: 100%;
    height: 5px;
    cursor: n-resize;
    background-color: #fafafa;
}
.resize-logView{
    width: 100%;
    height: 4px;
    cursor: n-resize;
    border-top: 1px solid #d0d0d0;
    background-color: #eaeaeb;
}
.content-box {
    width: calc(100%-490);
    height: 100% !important;
}
.logview {
    max-height: 90% !important;
    min-height: var(--log-view-minheight);
    background-color: #fafafa;
    color: #333;
    text-align: center;
    /* border-top: 1px solid #d0d0d0; */
    padding: 0px;
}
.el-main {
    background-color: #fafafa;
    color: #333;
    text-align: center;
    padding: 0px;
}

/* topBar */
.main-top .el-menu-demo {
    width: auto;
    height: var(--top-bar-height);
    position: fixed;
    left: 0;
    -webkit-app-region: no-drag;
}
.main-top .el-menu--horizontal > .el-submenu .el-submenu__title {
    position: relative;
    height: var(--top-bar-height);
    line-height: var(--top-bar-height);
    color: #909399;
}
.main-top .el-submenu__title i {
    display: none;
}
.main-top .el-menu--popup-bottom-start {
    margin-top: 0px;
}
.searchBox {
    width: 300px;
    line-height: calc(var(--top-bar-height) - 4px);
    margin-top: 2px;
    text-align: center;
    -webkit-app-region: no-drag;
}
.searchBox .el-input__inner {
    height: calc(var(--top-bar-height) - 6px) !important;
    border-radius: 15px;
}
.searchBox input::-ms-input-placeholder {
    text-align: center;
}
.searchBox input::-webkit-input-placeholder {
    text-align: center;
}
.operationBox {
    width: auto;
    height: var(--top-bar-height);
    line-height: var(--top-bar-height);
    margin-right: 5px;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-app-region: no-drag;
}
.operationBox > i {
    margin: auto 10px;
    font-size: 16px;
}

/* sideBar */
.sidebarLeft{
    width: var(--left-bar-width) !important;
}
.sidebarRight{
    width: var(--right-bar-width) !important;
}
.sidebar > i {
    margin: 10px 13px;
    font-size: 24px;
}

/* subView */
.subview .grid-content {
    width: calc(100%-6px);
    padding: 3px;
}
.subview .left-top {
    min-height: var(--sub-view-minheight);
    flex: 1;
}
.subview .left-bottom {
    height: 200px;
    min-height: var(--sub-view-minheight);
}
.subview .right-top {
    min-height: var(--sub-view-minheight);
    flex: 1;
}
.subview .right-bottom {
    height: 200px;
    min-height: var(--sub-view-minheight);
}

/* mainView top*/
.mianviewTop .el-tabs--border-card {
    height: 100%;
    background: #fafafa;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.mianviewTop .el-tabs__item {
    height: 36px;
    line-height: 36px;
}
.mianviewTop .el-tabs__nav-scroll {
    background-color: #eaeaeb !important;
}
.mianviewTop .el-tabs__content {
    padding: 0;
}
.mianviewTop .el-tabs--border-card > .el-tabs__content {
    height: calc(100% - 35px);
    padding: 0px;
}
.mianviewTop .el-tabs__nav-prev {
    width: 15px;
    height: 36px;
    line-height: 36px;
}
.mianviewTop .el-tabs__nav-next {
    width: 15px;
    height: 36px;
    line-height: 36px;
}
.mianviewTop .el-tab-pane {
    width: 100%;
    height: 100%;
}
iframe {
    width: 100%;
    height: 100%;
    border: none;
}

/* logView */

/* logView */
.logview > .el-tabs{
    height: 100%;
}
.logview .el-tabs__header{
    margin-bottom: 5px;
}
.logview .el-tabs__active-bar{
    height: 1px;
    background-color: #424242;
}
.logview .el-tabs__nav-wrap::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #FAFAFA;
    z-index: 1;
}
.logview .el-tabs--bottom .el-tabs__item.is-bottom:nth-child(2), .el-tabs--bottom .el-tabs__item.is-top:nth-child(2), .el-tabs--top .el-tabs__item.is-bottom:nth-child(2), .el-tabs--top .el-tabs__item.is-top:nth-child(2) {
    padding-left: 20px;
}
.logview .el-tabs__item{
    height: 30px;
    line-height: 30px;
    color: #909399;
}
.logview .el-tabs__item:hover{
    color: #383A42;
}
.logview .el-tabs__item.is-active{
    color: #383A42;
}
