.el-menu-demo {
    width: auto;
    height: 36px;
    position: fixed;
    left: 0;
}
.el-menu--horizontal > .el-submenu .el-submenu__title {
    position: relative;
    height: 36px;
    line-height: 36px;
    color: #909399;
}

.el-submenu__title i {
    display: none;
}

.el-menu--popup-bottom-start {
    margin-top: 0px;
}

.searchBox {
    width: 300px;
    line-height: 36px;
    text-align: center;
}

.el-input__inner {
    height: 30px !important;
    border-radius: 10px;
}

input::-ms-input-placeholder {
    text-align: center;
}
input::-webkit-input-placeholder {
    text-align: center;
}

.operationBox {
    width: auto;
    height: 36px;
    line-height: 36px;
    margin-right: 5px;
    position: fixed;
    right: 0;
}

i {
    margin: auto 10px;
    font-size: 16px;
}
